.button {
    height: 100%;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    font-size: 11px;
    padding: 10px 15px;
    background-color: #5785BB;
    border-radius: 6px;
    transition: 0.2s;
}

.button:hover {
    background-color: #7ea5d2;
}