.general {
    overflow: hidden;
}

.inner {
    height: 160px;
    padding: 30px 10px 10px 10px;
}

.title {
    display: block;
    padding: 28px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: #f0f2f5;
    border: 1px solid #ffffff;
    width: 198px;
    height: 220px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.item:hover {
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.name {
    border: 0;
    cursor: pointer;
    background-color: #f0f2f5;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 7px;
    transition: 0.3s;
}

.name:hover {
    color: #2f92e1;
}

.item:hover .name {
    background-color: white;
}

.active {
    text-decoration: underline;
}

.nav {
    display: flex;
    text-align: center;
}

.nav__inner {
    margin-top: 4px;
}

.nav__inner span {
    cursor: pointer;
    margin-right: 5px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-bottom: 10px;
}

.unfollow {
    cursor: pointer;
    color: #ffffff;
    border: 0;
    font-size: 11px;
    padding: 9px 20px;
    background-color: #fa1102;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.unfollow:hover {
    background-color: #ff5757;
}

.follow {
    cursor: pointer;
    color: #ffffff;
    border: 0;
    font-size: 11px;
    padding: 9px 20px;
    background-color: #5785BB;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.follow:hover {
    background-color: #7ea5d2;
}