.general {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.generalUltra {
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.general:last-child {
    border-bottom: 0 solid #e5e5e5;
}

.item {
    display: flex;
    padding: 5px;
    margin-left: 10px;
}

.item_text {
    margin-left: 8px;
    opacity: 0.7;
}

.item_title {
    width: 116px;
}

.light_text {
    font-size: 14px;
    line-height: 1.6em;
    opacity: 0.7;
    margin-left: 15px;
    display: block;
}

.work {
    margin-left: 15px;
}

.place {
    margin: 6px 0;
    font-size: 11px;
}

.description {
    margin-bottom: 20px;
    opacity: 0.7;
}

.null {
    font-weight: 700;
    color: red;
}

.input {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 200px;
}

.input:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}