.general {
    height: 950px;
    background: #000000 url("../../../assets/img/background-intro.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.inner {
    text-align: center;
    padding-top: 300px;
}

.inner h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.inner p {
    font-size: 19px;
    margin-bottom: 100px;
}

.button {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    padding: 15px 25px;
    background-color: #2f92e1;
    border-radius: 10px;
}

.button:hover {
    background-color: #59a6e3;
}
