@font-face {
    font-family: Breda;
    src: url('../../assets/fonts/BredaTwo.ttf');
}

.general {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 270px auto;
    text-align: center;
    width: 400px;
    height: 350px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: Breda;
    padding: 5px 0 15px 0;
}

.logo_left {
    color: #000000;
    margin-right: 7px;
}

.logo_right {
    color: #5785BB;
}

.inner {
    height: 100%;
    padding: 30px 20px 20px 20px;
}

.input {
    font-size: 14px;
    margin-top: 10px;
    width: 320px;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    -moz-appearance: none;
    border: 1px solid #d7d7d7 /* указание этого свойства также удалит обводку в FireFox */
}

.input:focus {
    border-color: #5785BB;
}

.remember_box {
    text-align: left;
}

.button {
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    -moz-appearance: none;
    border: 0;
    background-color: #5785BB;
    color: #ffffff;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #7ea5d2;
}

.register {
    color: #5785BB;
    font-size: 12px;
    text-decoration: none;
    position: relative;
}

.register:before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #5785BB;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.register:hover:before {
    width: 100%;
}