@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #000000;
    margin: 0;
    font-size: 14px;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.app-wrapper {
    margin-top: 84px;
    position: relative;
}
